C:\Users\Admin\Desktop\COVID-19_Scripts\crazy_google_search.py 
C:\Users\Admin\Desktop\COVID-19_Scripts\extracted_transcripts\Interview_11.docx 
C:\Users\Admin\Desktop\COVID-19_Scripts\extracted_transcripts\Interview_12.docx 
C:\Users\Admin\Desktop\COVID-19_Scripts\extracted_transcripts\Interview_13.docx 
C:\Users\Admin\Desktop\COVID-19_Scripts\extracted_transcripts\Interview_14.docx 
C:\Users\Admin\Desktop\COVID-19_Scripts\extracted_transcripts\Interview_18.docx 
C:\Users\Admin\Desktop\COVID-19_Scripts\extracted_transcripts\Interview_19.docx 
C:\Users\Admin\Desktop\COVID-19_Scripts\mp3_audio\Interview_12.mp3 
C:\Users\Admin\Desktop\COVID-19_Scripts\mp3_audio\Interview_13.mp3 
C:\Users\Admin\Desktop\COVID-19_Scripts\mp3_audio\Interview_14.mp3 
C:\Users\Admin\Desktop\COVID-19_Scripts\mp3_audio\Interview_18.mp3 
C:\Users\Admin\Desktop\COVID-19_Scripts\mp3_audio\Interview_19.mp3 
C:\Users\Admin\Desktop\COVID-19_Scripts\original_audio\Interview_11.wav 
C:\Users\Admin\Desktop\COVID-19_Scripts\original_audio\Interview_12.wav 
C:\Users\Admin\Desktop\COVID-19_Scripts\original_audio\Interview_13.wav 
C:\Users\Admin\Desktop\COVID-19_Scripts\original_audio\Interview_14.wav 
C:\Users\Admin\Desktop\COVID-19_Scripts\original_audio\Interview_18.wav 
C:\Users\Admin\Desktop\COVID-19_Scripts\original_audio\Interview_19.wav 
